*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:black ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
h1{
    margin-top: 30px;
    font-size: 40px;
}
p , h3, h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

#paracontainer{
    display: flex;
    justify-content:center;
    flex-direction:column;
    color: rgb(255, 255, 255);
    align-items: center;
   
    font-size: 20px;
    gap: 25px;
    margin-top: 50px;
    margin-bottom:20px ;

    
}

.project-box{
    border:2px solid rgb(143, 190, 231) ;
    border-radius: 12px;
    padding: 34px ;
    text-align: center;
    width: 600px;
    font-size: 20px;
    
}